body {
    font-family: "Montserrat", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .header {
    background-color: #0e2d39;
    color: white;
    text-align: left;
    padding: 20px 20px;
    position: relative;
    z-index: 1;
  }

  .header h1 {
    margin: 0;
    top: 10px;
    position: absolute;
    font-size: 13px;
    font-weight: 400;
  }

  .header .support {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 11px;
    color: #ffffff;
    text-decoration: underline;
  }

  .pass-container {
    background-color: white;
    margin: 15px 15px 15px 15px;
    padding: 15px 20px 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
  }

  .pass-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .pass-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -5px;
  }

  .pass-header .pass-details {
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
  }

  .pass-header .pass-details h2 {
    margin-top: -5px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }

  .pass-header .pass-details .tag {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 5px;
    color: white;
    font-size: 12.5px;
  }

  .pass-header .pass-details .day {
    background-color: #00ff6a34;
    color: rgb(0, 135, 68);
    font-weight: 500;
    margin-top: 0px;
  }

  .pass-header .pass-details .ordinary {
    background-color: #4f4f4f21;
    color: rgb(0, 0, 0);
    font-weight: 500;
  }

  .pass-header .pass-details p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
    flex-direction: column;
    border-bottom-style: dashed;
    border: #292929;
  }

  .pass-container .pass-id p {
    font-size: 11px;
    margin-left: -5px;
  }

  .pass-number {
    font-weight: 550;
    margin-left: 25px;
  }

  .qr-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .qr-container {
    text-align: center;
  }

  .qr-container img {
    height: 20px;
    margin-top: -2px;
    display: block;
  }

  .qr-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-container img {
    display: block;
    margin-right: 10px;
    margin-left: 110px;
}

  .qr-container .validate-btn {
    display: inline-flex;
    height: 25px;
    width: 330px;
    padding-top: 12px;
    padding-bottom: -12px;
    color: rgb(255, 255, 255);
    background-color: #26849f;
    border-radius: 7px 7px 7px 7px;
    text-decoration: none;
    font-size: 11px;
  }
  .pass-container .how-to-validate {
    font-size: 13px;
    font-weight: 500;
    margin-left: 43px;
    text-decoration: none;
    color: #26849f;
  }

  .how-to-validate .info-logo {
    height: 20px;
    margin-bottom: -5px;
    margin-right: 5px;
  }

  .booking-details-container {
    margin: 15px;
  }

  .booking-details {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .booking-details h3 {
    font-weight: 550;
  }

  .passenger-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .passenger-details {
    flex-grow: 1;
  }

  .passenger-details .group {
    margin-bottom: 20px;
  }

  .passenger-details .label {
    font-size: 10px;
    color: #333333;
    margin-bottom: -11px;
  }

  .passenger-details .info {
    margin-bottom: -13px;
    font-size: 12.5px;
    font-weight: 500;
    color: #151515;
  }

  .passenger-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .passenger-avatar {
    height: 85px;
    border-radius: 50%;
    margin-top: 10px;
  }

  .additional-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 70px;
  }

  .booking-details h3 {
    margin-top: 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }

  .divider {
    border-top: 1px solid #777575;
    border-color: #dfdfdf;
    margin: 5px 0;
    border-style: dashed;
    border-width: 1px;
  }

  .booking-details .passenger-info {
    margin-top: -7px;
  }

  .pass-validity {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .validity-details {
    flex-grow: 1;
  }

  .validity-details .group {
    margin-bottom: 20px;
  }

  .validity-details .label {
    font-size: 14px;
    color: #333;
    margin-bottom: -10px;
  }

  .validity-details .info {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
  }

  .pass-fare {
    margin-right: -25px;
  }

  .pass-fare .label {
    font-size: 11px;
    text-decoration: underline;
    text-decoration-thickness: 0rem;
    color: #333;
    margin-top: 80px;
    margin-bottom: -15px;
  }

  .pass-fare .info {
    font-size: 19px;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px;
  }

  .booking-details .validate-btn {
    border: 1px #26849f;
    background-color: #ffffff;
    color: hsl(193, 61%, 39%);
    padding: 8px 1px;
    font-size: 11px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    border-radius: 5px;
    width: 170px;
    border-style: solid;
    margin: 10px 50px 10px 65px;
  }

  .validate-btn .mail-img {
    height: 15px;
    margin-bottom: -3px;
    margin-right: 3px;
  }

  .last-validated-bus-route {
    justify-content: space-between;
    background-color: #88ff0028;
    border-radius: 5px;
    padding: 5px 5px 15px 10px;
    margin-top: 10px;
  }

  .last-validated .group,
  .bus-number .group,
  .route-number .group {
    margin-bottom: 10px;
  }

  .last-validated .label,
  .bus-number .label,
  .validated-by .label {
    font-size: 10.5px;
    color: #333;
    margin-bottom: -9px;
  }

  .last-validated .info,
  .bus-number .info,
  .validated-by .info {
    margin-bottom: -4px;
    font-size: 11.5px;
    font-weight: 550;
    color: #555;
  }

  .last-validated {
    flex: 1.1;
  }

  /* QR Code Scanner */
  /* Modal Styles */
  /* General modal styling */
  /* General modal styling */
  /* General modal styling */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.778); /* Black w/ opacity */
  }

  /* Modal content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* QR reader container */
  #reader {
    width: 90%;
    max-width: 400px;
    height: auto;
    background-color: white; /* Just to make it visible, customize as needed */
  }

  /* Overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 10; /* Overlay above other content */
  }

  /* Close button */
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    color: white;
    cursor: pointer;
    z-index: 20; /* Above the overlay */
  }

  /* Zoom bar */
  .zoom-bar {
    position: absolute;
    bottom: 70px;
    width: 80%;
    max-width: 300px;
    z-index: 20; /* Above the overlay */
  }